<script type="text/ng-template" id="log.html">
<span ng-show="log.type=='ON_SUBSCRIBE'">{{ log.createdAt | date: 'yyyy-MM-dd H:m:s Z' }}: ON SUBSCRIBE<br />
Topic: {{ log.data.topic}} </span>
    <span ng-show="log.type=='ON_PUBLISH'">{{ log.createdAt | date: 'yyyy-MM-dd H:m:s Z' }}: ON PUBLISH<br />
Topic: {{ log.data.topic }}<br />
Payload: {{ log.data.payload }}</span>
    <span ng-show="log.type=='ON_CLIENT_GONE'">{{ log.createdAt | date: 'yyyy-MM-dd H:m:s Z' }}: ON CLIENT GONE Subscribe ID: {{ log.data.subscribeId }} </span>
</script>
<div class="col-lg-12">
    <h1 class="page-header"><i class="fa fa-automobile"></i> <span>Device {{device.name}}</span></h1>
</div>
<!-- /.col-lg-12 -->
<div class="col-lg-12">
    <div ng-show="update_message" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{update_message}}
    </div>
    <table class="table table-hover table-borderless">
        <tbody>
        <tr>
            <td>MQTT Subscriber Topic</td>
            <td><code>{{ project.domain + "/devices/" + device._id }}</code></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><a href="#" editable-text="device.name" onaftersave="updateDevice()">{{device.name || 'empty'}}</a></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><a href="#" editable-text="device.description" onaftersave="updateDevice()">{{device.description || 'empty'}}</a></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><a href="#" editable-text="device.address" onaftersave="updateDevice()">{{device.address || 'empty'}}</a></td>
        </tr>
        <tr>
            <td>Latitude</td>
            <td><a href="#" editable-text="device.location.coordinates[1]" onaftersave="updateDevice()">{{device.location.coordinates[1] || 'empty'}}</a></td>
        </tr>
        <tr>
            <td>Longitude</td>
            <td><a href="#" editable-text="device.location.coordinates[0]" onaftersave="updateDevice()">{{device.location.coordinates[0] || 'empty'}}</a></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><i class="fa fa-circle" ng-class="device.status?'text-success':'text-danger'"></i></td>
        </tr>
        </tbody>
    </table>
    <p><strong>Map</strong></p>
    <div id="map_canvas">

        <script id="searchbox.tpl.html" type="text/ng-template">
            <input type="text" class="form-control searchbox" placeholder="Search your location ...">
        </script>
        <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options" events="map.events">
        <ui-gmap-search-box template="searchbox.template" events="searchbox.events"></ui-gmap-search-box>
        <ui-gmap-markers models="map.markers"
        coords="'self'"
        events="map.markersEvents"
        options="'options'">
        </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
    <p ng-show="deviceLogs.length"><strong>Logs</strong></p>
    <code class="device-log"><ul><li class="small" ng-repeat="log in deviceLogs" ng-include="'log.html'"></li></ul></code>
</div>
