<div class="col-lg-12">
    <h1 class="page-header"><i class="fa fa-automobile"></i> <span>Device {{device.name}}</span></h1>
</div>
<!-- /.col-lg-12 -->
<div class="col-lg-12">
    <div ng-show="update_message" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        {{update_message}}
    </div>
    <table class="table table-hover">
        <tbody>
        <tr>
            <td>MQTT Channel</td>
            <td><code>{{ project.domain + "/devices/" + device._id }}</code></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><a href="#" editable-text="device.name" onaftersave="updateDevice()">{{device.name || 'empty'}}</a></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><a href="#" editable-text="device.description" onaftersave="updateDevice()">{{device.description || 'empty'}}</a></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><i class="fa fa-circle" ng-class="device.status?'text-success':'text-danger'"></i></td>
        </tr>
        </tbody>
    </table>
</div>
