<script type="text/ng-template" id="feed.html">
    <p ng-show="feed.type=='CREATE_PROJECT'">
        Create a new project - <a ui-sref="app.projects.view({projectId: feed.data.object._id, service: 'dashboard'})">{{ feed.data.object.name }}</a>
    </p>
    <p ng-show="feed.type=='CREATE_POST'">
        <p>{{ feed.data.object.content }}</p>
        <img ng-src="{{feed.data.object.file.urls.t600x600}}" class="img-responsive" alt="" ng-show="feed.data.object.file">
    </p>
    <p ng-show="feed.type=='FOLLOW_USER'">
        <a ui-sref="user.get({userId: feed.data.follower._id})">{{ feed.data.follower.firstname + ' ' + feed.data.user.lastname}}</a>
        was followed
        <a ui-sref="user.get({userId: feed.data.user._id})">{{ feed.data.user.firstname + ' ' + feed.data.user.lastname }}</a>
    </p>
</script>
<div class="profile-content">
    <div class="form-group">
        <textarea class="form-control" placeholder="Enter here for your post..." rows="3" ng-model="post"></textarea>
        <br />
        <button ng-click="createPost()" class="btn btn-primary btn-sm pull-right">Post</button>
        <button class="btn btn-primary btn-sm" ngf-select="uploadFiles($files)" multiple 
            accept="image/*">Share Images</button>
        <br />
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="f in uploadData.files">
        {{f.name}}
        </li>
    </ul>
    <div class="clearfix"></div>
    <p></p>
    <div class="post-upload progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
            aria-valuemin="0" aria-valuemax="100" style="width:{{uploadData.progress}}%">
            <span class="sr-only">{{uploadData.progress}}% Complete</span>
        </div>
    </div>
    <ul class="media-list">
        <li class="media" ng-repeat="feed in feeds">
        <a ui-sref="user.get({userId: feed.data.user._id})" class="pull-left">
            <img gravatar-src="feed.data.user.email" gravatar-size="32" ng-show="!feed.data.user.file">
            <img ng-src="{{feed.data.user.file.urls.t600x600}}" class="img-responsive" width="32" alt="" ng-show="feed.data.user.file">
        </a>
        <div class="media-body">
            <span class="text-muted pull-right">
                <small class="text-muted"><time-ago from-time='{{ feed.createdAt }}'></time-ago></small>
            </span>
            <strong class="text-success">@ {{feed.data.user.firstname + ' ' + feed.data.user.lastname}}</strong>
            <div ng-include="'feed.html'">
            </div>
        </div>
        </li>
    </ul>
</div>
