<script type="text/ng-template" id="feed.html">
    <p ng-show="feed.type=='CREATE_PROJECT'">
        Create a new project - <a ui-sref="app.projects.view({projectId: feed.data.object._id, service: 'dashboard'})">{{ feed.data.object.name }}</a>
    </p>
</script>
<div class="profile-content">
    <textarea class="form-control" placeholder="Enter here for tweet..." rows="3"></textarea>
    <br>
    <a href="#" class="btn btn-primary btn-sm pull-right">Post</a>
    <div class="clearfix"></div>
    <hr>
    <ul class="media-list">
        <li class="media" ng-repeat="feed in feeds">
        <a ui-sref="user.get({userId: feed.data.user._id})" class="pull-left">
            <img ng-src="{{feed.data.user.file.urls.t600x600}}" class="img-responsive" width="50" alt="">
        </a>
        <div class="media-body">
            <span class="text-muted pull-right">
                <small class="text-muted">30 min ago</small>
            </span>
            <strong class="text-success">@ {{feed.data.user.firstname + ' ' + feed.data.user.lastname}}</strong>
            <div ng-include="'feed.html'">
            </div>
        </div>
        </li>
    </ul>
</div>
