<div id="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <header></header>
    </nav>
    <div id="user-page-wrapper">
        <div class="container">
            <div class="row profile">
                <div class="col-md-3">
                    <sidebar></sidebar>
                </div>
                <div class="col-md-9">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->
</div>
