<div class="col-md-3">
    <sidebar-user></sidebar-user>
</div>
<div class="col-md-9">
    <div class="col-md-3" ng-repeat="follower in followers track by $index">
        <div class="profile-userpic" ng-show="!follower.file">
            <a ui-sref="user.get({userId: follower._id})">
                <img gravatar-src="follower.email" class="img-responsive"></a>
        </div>
        <div class="profile-userpic" ng-show="follower.file">
            <img ng-src="{{follower.file.urls.t600x600}}" class="img-responsive">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {{follower.firstname || 'empty'}} {{follower.lastname || 'empty'}} 
            </div>
            <div class="profile-usertitle-job">
                {{ follower.bio || empty }}
            </div>
        </div>
        <div class="profile-userbuttons">
            <button type="button" class="btn btn-success btn-sm" ng-click="follow($index, follower._id)" ng-show="!follower.isFollowed && follower._id !== userInfo.userId">Follow</button>
            <button type="button" class="btn btn-primary btn-sm" ng-show="follower.isFollowed" ng-click="unfollow($index, follower._id)">Following</button>
            <!--button type="button" class="btn btn-danger btn-sm">Message</button-->
        </div>
    </div>
</div>
