global
  maxconn 99999
  maxpipes 99999
  tune.maxaccept 500
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice

defaults
  log global
  mode http
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms
  errorfile 502 /usr/local/etc/haproxy/errors/502.http

listen http
  bind *:80
  mode tcp
  option tcplog
  balance leastconn
  server nginx_1 nginx:80 check

listen mqtt
  bind *:1883
  mode tcp
  option tcplog
  balance leastconn
  server broker_1 broker:1883 check
