<script type="text/ng-template" id="notification.html">
    <a ui-sref="app.projects.view({projectId: n.data._id})" ng-show="n.type='DNS_RESOLVED'">
        <div>
            <i class="fa fa-circle fa-fw text-success small"></i> Project <strong>{{ n.data.name }}</strong> was ready to use
            <span class="pull-right text-muted small"><time-ago from-time='{{ n.createdAt }}'></time-ago></span>
        </div>
    </a>
    <a ui-sref="app.devices.view({projectId: n.data.projectId, deviceId: n.data._id})" ng-show="n.type='DEVICE_ON'">
        <div>
            <i class="fa fa-circle fa-fw text-success small"></i> Device <strong>{{ n.data.name }}</strong> was connected
            <span class="pull-right text-muted small"><time-ago from-time='{{ n.createdAt }}'></time-ago></span>
        </div>
    </a>
    <a ui-sref="app.devices.view({projectId: n.data.projectId, deviceId: n.data._id})" ng-show="n.type='DEVICE_OFF'">
        <div>
            <i class="fa fa-circle fa-fw text-danger small"></i> Device <strong>{{ n.data.name }}</strong> was disconnected
            <span class="pull-right text-muted small"><time-ago from-time='{{ n.createdAt }}'></time-ago></span>
        </div>
    </a>
</script>
<!-- Navigation -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html" translate="views.header.header.Koor"></a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" ui-sref="app.projects.create">
            <i class="fa fa-plus fa-fw"></i>  Create Project
        </a>
    </li>
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-alerts">
        <li ng-show="!notifications.length">
        <a href="#">
            <div><i class="text-muted small"> There is no notification.</i></div>
        </a>
        </li>
        <li ng-repeat="n in notifications" ng-include="'notification.html'"> 
        <a href="#">
            <div>
                <i class="fa fa-comment fa-fw"></i> {{ n.createdAt }}
                <span class="pull-right text-muted small">4 minutes ago</span>
            </div>
        </a>
        </li>
    </ul>
    <!-- /.dropdown-alerts -->
    </li>
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">
        <img gravatar-src="userInfo.email" gravatar-size="18">  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a ui-sref="user.profiles"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a ui-sref="user.settings"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a ui-sref="login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->

