<div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic" ng-show="!user.file">
        <img gravatar-src="user.email" class="img-responsive">
    </div>
    <div class="profile-userpic" ng-show="user.file">
        <img ng-src="{{user.file.urls.t600x600}}" class="img-responsive">
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{user.firstname || 'empty'}} {{user.lastname || 'empty'}} 
        </div>
        <div class="profile-usertitle-job">
            {{ user.bio || empty }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav">
            <li ng-class="{active: stateName == 'home.index'}">
                <a href="#">
                <i class="fa fa-snowflake-o"></i>
                Home </a>
            </li>
            <li>
                <a ui-sref="app.projects.list">
                <i class="fa fa-car"></i>
                Projects </a>
            </li>
            <li ng-class="{active: stateName == 'home.follower'}" ng-click="changeRoute('home.follower')">
                <a ui-sref="home.follower">
                <i class="fa fa-user-o"></i>
                Followers </a>
            </li>
            <li ng-class="{active: stateName == 'home.following'}" ng-click="changeRoute('home.following')">
                <a ui-sref="home.following">
                <i class="fa fa-user"></i>
                Following </a>
            </li>
            <li ng-class="{active: stateName == 'home.findYourFriend'}" ng-click="changeRoute('home.findYourFriend')">
                <a ui-sref="home.findYourFriend">
                <i class="fa fa-search"></i>
                Find Your Friends </a>
            </li>
        </ul>
    </div>
    <!-- END MENU -->
</div>
