<div class="profile-sidebar">
    <!-- SIDEBAR USERPIC -->
    <div class="profile-userpic" ng-show="!user.file">
        <img gravatar-src="user.email" class="img-responsive">
    </div>
    <div class="profile-userpic" ng-show="user.file">
        <img ng-src="{{user.file.urls.t600x600}}" class="img-responsive">
    </div>
    <!-- END SIDEBAR USERPIC -->
    <!-- SIDEBAR USER TITLE -->
    <div class="profile-usertitle">
        <div class="profile-usertitle-name">
            {{user.firstname || 'empty'}} {{user.lastname || 'empty'}} 
        </div>
        <div class="profile-usertitle-job">
            {{ user.bio || empty }}
        </div>
    </div>
    <!-- END SIDEBAR USER TITLE -->
    <!-- SIDEBAR BUTTONS -->
    <div class="profile-userbuttons">
        <button type="button" class="btn btn-success btn-sm" ng-click="follow()" ng-show="!user.isFollowed && userInfo.userId !== user._id">Follow</button>
        <button type="button" class="btn btn-primary btn-sm" ng-show="user.isFollowed" ng-click="unfollow()">Following</button>
        <!--button type="button" class="btn btn-danger btn-sm">Message</button-->
    </div>
    <!-- END SIDEBAR BUTTONS -->
    <!-- SIDEBAR MENU -->
    <div class="profile-usermenu">
        <ul class="nav">
            <li>
                <a ui-sref="user.get({userId: user._id})">
                <i class="glyphicon glyphicon-home"></i>
                Home </a>
            </li>
            <li>
                <a ui-sref="user.follower({userId: user._id})">
                <i class="glyphicon glyphicon-flag"></i>
                Followers </a>
            </li>
            <li>
                <a ui-sref="user.following({userId: user._id})">
                <i class="glyphicon glyphicon-flag"></i>
                Following </a>
            </li>
        </ul>
    </div>
    <!-- END MENU -->
</div>
