<div class="col-lg-12">
    <h1 class="page-header"><i class="fa fa-database"></i> <span>Field {{field.name}}</span></h1>
</div>
<!-- /.col-lg-12 -->
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading"> Field Details
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <div ng-show="update_message" class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    {{update_message}}
                </div>
                <table class="table table-hover table-borderless">
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td><a href="#" editable-text="field.name" onaftersave="updateField()">{{field.name || 'empty'}}</a></td>
                    </tr>
                    <tr>
                        <td>Code</td>
                        <td>{{ field.code }}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><a href="#" editable-text="field.description" onaftersave="updateField()">{{field.description || 'empty'}}</a></td>
                    </tr>
                    <tr>
                        <td>MQTT Topic</td>
                        <td><a ui-sref="app.fields.mqtt({projectId: field.projectId, fieldCode: field.code})" target="_blank">Sending MQTT messages</a></td>
                    </tr>
                    <tr>
                        <td>Restful API</td>
                        <td><a href="{{ swaggerUrl }}" target="_blank">{{ project.domain + '/fields/' + field._id}}</a></td>
                    </tr>
                    <tr>
                        <td>Get Data</td>
                        <td><code>{{ 'curl -XGET --header "Content-Type: application/json"
                                --header "Authorization:' + project.secretKey + '"
                                ' + 'https://' + project.domain + '/get/field/' + field.code + '/1' }}</code></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
            <canvas id="line" class="chart chart-line" chart-data="field.data" chart-labels="field.labels">
            </canvas> 
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
</div>
