<h1 class="page-header">Start a REST API</h1>
<div class="panel-body">
    <div class="row">
        <div class="col-lg-12">
            <form name="form" ng-submit="af.update()" role="form">
                <div class="form-group">
                    <label>Path</label>
                    <div class="form-group input-group">
                        <span class="input-group-addon" ng-bind="project.api"></span>
                        <input type="text" class="form-control" ng-model="af.path" placeholder="/api/v1/users">
                    </div>
                    <p class="help-block">Enter the path of the API.</p>
                </div>
                <div class="form-group">
                    <label>Method</label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" ng-model="af.method" value="GET" checked="">GET
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" ng-model="af.method" value="POST">POST
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" ng-model="af.method" value="PUT">PUT
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optionsRadiosInline" ng-model="af.method" value="DELETE">DELETE
                    </label>
                </div>
                <h3 class="page-header">Headers</h3>
                <div class="form-group">
                    <button type="button" class="btn btn-default btn-md" ng-click="af.addHeader()"><i class="fa fa-plus"></i> Add Header</button>
                </div>
                <div class="form-group">
                    <div class="row" ng-repeat="(key, header) in af.headers">
                        <div class="col-sm-5 form-group">
                            <input type="text" class="form-control" ng-model="header.key" required> 
                        </div>
                        <div class="col-sm-5 form-group">
                            <input type="text" class="form-control" ng-model="header.value" required> 
                        </div>
                        <div class="col-sm-2 form-group">
                            <button type="button" class="btn btn-default" ng-click="af.removeHeader(key)"><i class="fa fa-close"></i></button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Response Status</label>
                    <select class="form-control" ng-model="af.responseStatus">
                        <option value="100">100 - Continue</option>
                        <option value="101">101 - Switching Protocols</option>
                        <option value="102">102 - Processing</option>
                        <option value="200" selected="">200 - OK</option>
                        <option value="201">201 - Created</option>
                        <option value="202">202 - Accepted</option>
                        <option value="203">203 - Non-Authoritative Information</option>
                        <option value="204">204 - No Content</option>
                        <option value="205">205 - Reset Content</option>
                        <option value="206">206 - Partial Content</option>
                        <option value="207">207 - Multi-Status</option>
                        <option value="208">208 - Already Reported</option>
                        <option value="226">226 - IM Used</option>
                        <option value="300">300 - Multiple Choices</option>
                        <option value="301">301 - Moved Permanently</option>
                        <option value="302">302 - Found</option>
                        <option value="303">303 - See Other</option>
                        <option value="304">304 - Not Modified</option>
                        <option value="305">305 - Use Proxy</option>
                        <option value="306">306 - Switch Proxy</option>
                        <option value="307">307 - Temporary Redirect</option>
                        <option value="308">308 - Permanent Redirect</option>
                        <option value="400">400 - Bad Request</option>
                        <option value="401">401 - Unauthorized</option>
                        <option value="402">402 - Payment Required</option>
                        <option value="403">403 - Forbidden</option>
                        <option value="404">404 - Not Found</option>
                        <option value="405">405 - Method Not Allowed</option>
                        <option value="406">406 - Not Acceptable</option>
                        <option value="407">407 - Proxy Authentication Required</option>
                        <option value="408">408 - Request Timeout</option>
                        <option value="409">409 - Conflict</option>
                        <option value="410">410 - Gone</option>
                        <option value="411">411 - Length Required</option>
                        <option value="412">412 - Precondition Failed</option>
                        <option value="413">413 - Request Entity Too Large</option>
                        <option value="414">414 - Request-URI Too Long</option>
                        <option value="415">415 - Unsupported Media Type</option>
                        <option value="416">416 - Requested Range Not Satisfiable</option>
                        <option value="417">417 - Expectation Failed</option>
                        <option value="418">418 - I'm a teapot</option>
                        <option value="419">419 - Authentication Timeout</option>
                        <option value="420">420 - Enhance Your Calm</option>
                        <option value="422">422 - Unprocessable Entity</option>
                        <option value="423">423 - Locked</option>
                        <option value="424">424 - Failed Dependency</option>
                        <option value="424">424 - Method Failure</option>
                        <option value="425">425 - Unordered Collection</option>
                        <option value="426">426 - Upgrade Required</option>
                        <option value="428">428 - Precondition Required</option>
                        <option value="429">429 - Too Many Requests</option>
                        <option value="431">431 - Request Header Fields Too Large</option>
                        <option value="444">444 - No Response</option>
                        <option value="449">449 - Retry With</option>
                        <option value="450">450 - Blocked by Windows Parental Controls</option>
                        <option value="451">451 - Unavailable For Legal Reasons</option>
                        <option value="451">451 - Redirect</option>
                        <option value="494">494 - Request Header Too Large</option>
                        <option value="495">495 - Cert Error</option>
                        <option value="496">496 - No Cert</option>
                        <option value="497">497 - HTTP to HTTPS</option>
                        <option value="499">499 - Client Closed Request</option>
                        <option value="500">500 - Internal Server Error</option>
                        <option value="501">501 - Not Implemented</option>
                        <option value="502">502 - Bad Gateway</option>
                        <option value="503">503 - Service Unavailable</option>
                        <option value="504">504 - Gateway Timeout</option>
                        <option value="505">505 - HTTP Version Not Supported</option>
                        <option value="506">506 - Variant Also Negotiates</option>
                        <option value="507">507 - Insufficient Storage</option>
                        <option value="508">508 - Loop Detected</option>
                        <option value="509">509 - Bandwidth Limit Exceeded</option>
                        <option value="510">510 - Not Extended</option>
                        <option value="511">511 - Network Authentication Required</option>
                        <option value="598">598 - Network read timeout error</option>
                        <option value="599">599 - Network connect timeout error</option>
                    </select>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.content_type.$dirty && form.content_type.$invalid }">
                    <label>Content-Type</label>
                    <input type="text" class="form-control" name="content_type" ng-model="af.contentType" required> 
                    <span ng-show="form.content_type.$dirty && form.content_type.$invalid" class="help-block">Content-Type is required</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.content_encoding.$dirty && form.content_encoding.$invalid }">
                    <label>Content-Encoding</label>
                    <input type="text" class="form-control" ng-model="af.contentEncoding" name="content_encoding" required> 
                    <span ng-show="form.content_encoding.$dirty && form.content_encoding.$invalid" class="help-block">Content-Encoding is required</span>
                </div>
                <hr></hr>
                <div class="form-group">
                    <label>Reponse Body</label>
                    <div ui-ace="{
                        mode: 'json',
                        useWrapMode : true,
                        showPrintMargin: false,
                        theme: 'github',
                        rendererOptions: { fontSize: 14 },
                        showGutter: true
                        }" ng-model="af.responseBody"></div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input type="text" class="form-control" ng-model="af.description" placeholder="Enter API description">
                </div>
                <div class="form-group">
                    <label>Tags</label>
                    <input type="text" class="form-control" ng-model="af.tags" placeholder="Enter a tag">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Save</button>
                    <button type="reset" class="btn btn-default">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <!-- /.row (nested) -->
</div>
