<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset Password Form</h3>
                </div>
                <div class="panel-body">
                    <div ng-show="fp.error" class="alert alert-danger">{{fp.error}}</div>
                    <form name="form" ng-submit="fp.resetpassword()" role="form">
                        <fieldset>
                            <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$invalid }">
                                <input type="password" placeholder="Password" minlength=4 maxlength=20 name="password" id="password" class="form-control" ng-model="fp.password" required />
                                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                <span ng-show="form.password.$dirty && form.password.$error.maxlength" class="help-block">Password max length is 20</span>
                                <span ng-show="form.password.$dirty && form.password.$error.minlength" class="help-block">Password min length is 4</span>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-lg btn-success btn-block" ng-disabled="form.$invalid || fp.dataLoading" class="btn btn-primary">Submit</button>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
